body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #f6f9ff;
}
.custom-card-header {
  background: #c1f0c0;
}
.action-buttons {
  margin-right: 5px;
  /* Adjust this value as needed */
}
.center {
  text-align: center;
}
